body{
    width: 100vw;
    height: 100% ;
    margin: 0;
    background-image: linear-gradient(to right bottom,#FF00CC ,#33FFFF);
    background-repeat: no-repeat;

}
header{
    width: 100vw;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;  
}
header div{
    margin: 0px 20px;

}
header div h1{
    margin: 0;
    line-height: 60px;
}
.perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.perfil p{
 padding-left: 15px;
 font-size: 20px;
}
.portada {
text-decoration: none;
color: white;
font-family: 'Yellowtail', cursive;
}
.perfil i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
   
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li{
 margin: 10px 0px;
}
.menu ul{
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: right;
    right: 20px;
    top: 50px;
    display: none;
    margin: 0;
}
.menu:hover ul, ul:hover{
    display: block;
}

.menu ul li:hover {
    text-decoration: underline;
}
.main{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title{
    color: white;
    font-size: 1.3em;
}
.main-input{
    width: 70%;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 16px;
    color:white;
    background-color: rgba(255, 255, 255, 0.2);
    height: 35px;
    padding: 1px 20px;
    outline: none;
}
::placeholder{
    color: white;
}
.carousel{
    width: 100vw;
    padding: 30px;
}
.carousel-container{
    display: flex;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    width: 200px;
    height: 250px;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    margin-right: 10px;
}
.carousel-item:hover {
    transform: translate3d(100px, 0, 0);

}
