body{
    width: 100vw;
    height: 100vh ;
    margin: 0;
    background-image: linear-gradient(to right bottom,#FF00CC ,#33FFFF);
    background-repeat: no-repeat;

}
header{
    width: 100vw;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;  
}
header div{
    margin: 0px 20px;

}
header div h1{
    margin: 0;
    line-height: 60px;
}
.perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.perfil p{
 padding-left: 15px;
 font-size: 20px;
}
.portada {
text-decoration: none;
color: white;
font-family: 'Yellowtail', cursive;
}
.perfil i{
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
   
}
.menu ul{
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: right;
    right: 20px;
    top: 50px;
    display: none;
    margin: 0;
}
.menu:hover ul, ul:hover{
    display: block;
}